.App-header {
  background-color: #333;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-grow: 1;
}

.App-header a,
.App-header a:visited {
  color: white;
}

.App-header li {
  display: flex;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  box-shadow: 1px 3px 5px 2px #ccc;
  border-radius: 4px;
  padding: 24px;
  max-width: 60%;
  margin: 4px auto;
  height: 400px;
  width: 340px;
}

.rainbow-text {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 15px white;
}

.form-input {
  margin: 10px;
}

.submit-btn {
  background-color: #78b332;
  width: 152px;
  margin-top: 30px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #007400;
  transition: 0.3s;
}

.view-team {
  box-shadow: 0px 0px 2px 1px #ff6323;
  padding: 24px;
  width: 70%;
  margin: 10px;
}

.register-btn {
  background-color: #ff6323;
  width: 152px;
}

.btn {
  border: none;
  color: #fff;
  font-weight: bold;
  height: 35px;
  border-radius: 3px;
  margin-right: 10px;
}

.btn:hover {
  cursor: pointer;
}
