body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    background-color: rgb(71, 71, 71);
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-grow: 1;
}

.App-header-logo-text {
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: small;
}

.App-header a,
.App-header a:visited {
    color: white;
    text-decoration: none;
}

.App-header ul {
    padding-left: 25px;
    padding-right: 25px;
}

.App-header li {
    display: flex;
    font-size: medium;
}

.App-link {
    color: #61dafb;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px;
    border-radius: 4px;
    padding: 8px;
    max-width: 60%;
    margin: 4px auto;
}

input {
    font-size: 16px;
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid lightgray;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #7fc243;
    border-color: #669b36;
    color: #fff;
}

input:invalid {
    border: 1px solid #ff0000;
}

input:disabled[type="submit"] {
    background-color: lightgray;
    border-color: white;
    color: darkgrey;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}

.form-field > label {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0.2em;
    font-size: 14px;
}

.form-field > input {
    width: 100%;
}

.result-message {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    background-color: #f3e5e5;
}

.new-team-error {
    border: #ff0000;
    color: #ff0000;
}

.new-team-success {
    border: #7fc243;
    color: #7fc243;
}
